{% extends "base.html" %}
{% block content %}
    <div class="container-fluid vh-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-start ">
                <h1 class="text-center">Overview</h1>
                <h3>Description</h3>
                <p>Revolutionize your software testing process with our powerful testing framework.
                    Designed to streamline your testing efforts and improve your testing results,
                    our framework offers a comprehensive suite of tools and features to help you achieve faster, more accurate,
                    and more reliable testing. With support for multiple programming languages, integrations with popular testing tools, and easy-to-use interfaces,
                    our framework empowers you to achieve greater testing efficiency and effectiveness than ever before. Try it today and experience the future of software testing!
                </p>
                <ul>
                    <li>1</li>
                  
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
