{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'informations.css' %}"/>
    <header>
        <h1>Filesystem</h1>
    </header>
    <div class="container-fluid">
        <div class="table-padding-bottom">
            <h2>Datasets</h2>
            <table>
                <thead>
                    <tr>
                        <th>Dataset Name</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Mean</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dataset in datasets %}
                    <tr>
                        <td>{{ dataset.name }}</td>
                        <td>Completed</td>
                        <td>Completed</td>
                        <td>Completed</td>
                        <td>{{ dataset.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-padding-bottom">
        <table>
            <h2>Algorithms</h2>
            <thead>
                <tr>
                    <th>Algorithm Name</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for algorithm in algorithms %}
                <tr>
                    <td>{{ algorithm.name }}</td>
                    <td>{{ algorithm.description }}</td>
                    <td>{{ algorithm.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock content %}
