{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'reports.css' %}"/>
    <header>
        <h1>Reports</h1>
    </header>
    <div class="container-fluid">
        <table>
            <thead>
                <tr>
                    <th>Report Name</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td>test</td>
                    <td>2022-01-01</td>
					<td>Completed</td>
                </tr>
                <tr>
					<td>test</td>
                    <td>2022-01-01</td>
					<td>Completed</td>
                </tr>
            </tbody>
        </table>
        <style></style>
    </div>
{% endblock content %}
